<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geniesoftstudios.com.hellogoogleglass" >

    <!-- Request permission to test new, unlisted voice commands within our app -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <!-- For taking pictures -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- For getting the current user location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity android:name=".CameraActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="geniesoftstudios.com.hellogoogleglass.CAMERA_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".VoiceInputActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="geniesoftstudios.com.hellogoogleglass.VOICE_INPUT_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MapLocationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="geniesoftstudios.com.hellogoogleglass.MAP_LOCATION_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
